
div(id="tester", style="width:800px;height:450px;")

canvas(id="imCanvas", width="64", height="64", style="border:1px solid #d3d3d3; display: none;")

canvas(id="myCanvas", width="128", height="128", style="border:1px solid #d3d3d3;")

script.
  var rawDataURL = 'N2784-7-Q1-B.0000.lc.csv';

  var url = "N2784-7-Q1-B.0000.cube.fits";

